
/*---------------------------------------------
 *
 * Title
 *
 */

/* Included only for Settings -> Custom Content */

#wpbody-content {
  padding-bottom: 30px;
}
.wrap {
  max-width: 700px; /*margin: 0 auto;*/
  font-weight: 300;
  opacity: 1 !important;

  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
}
.wrap .plugin-title {
  font-size: 24px;
  font-weight: 300;
/*	margin: 23px 0 13px 10px; */
  margin: 0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.wrap h1, .wrap h2, .wrap h3, .wrap h4, .wrap h5, .wrap h6 {
  font-weight: 400;
}
.wrap h1 {
  padding-left: 0;
  padding-right: 0;
}
.wrap h2 {
  margin-bottom: -10px;
}

.doc-style {
  padding-top:10px;
/*	padding-left:10px; */
}
.wrap .doc-style .nav-tab-wrapper {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 5px 5px 15px 5px;
  border-bottom: 0;
  text-align: center;
}
.wrap .doc-style .nav-tab-wrapper a {
  float: none;
  color: #555;
  border: 0;
  border: 1px solid #e4e4e4;  /* border-bottom: 0; */
  background-color: transparent;
}
.doc-style .nav-tab-wrapper a,
.doc-style .nav-tab-wrapper a:focus,
.doc-style .nav-tab-wrapper a:active,
.doc-style .nav-tab-wrapper a:active:focus {
  outline: 0; /* prevent dotted-line in Firefox */
  /* box-shadow: none !important; */
}
.wrap .doc-style .menu-wrap {
  position: relative;
  display: inline-block;
}

.wrap .doc-style .sub-menu {
  position: absolute;
  left: 8px;
  margin-top: 5px;
  text-align: left;
  width: 100%;
  min-width: 90px;
  display: none;
}
.doc-style .menu-wrap.menu-open .sub-menu {
  display: block;
}
.wrap .doc-style .sub-menu a {
  background-color: #e4e4e4;
  cursor: pointer;
  padding: 0 9px;
  width: 100%;
  display: block;
  font-size: 13px;
  font-weight: 300;
  border: 0;
  line-height: 22px;
  box-shadow:  1px 3px 4px #555; /* 2px 2px 4px #ccc; */
  min-width: 115px;
}
.wrap .doc-style .sub-menu a:first-child {
  margin-top: 5px;
}
.wrap .doc-style .sub-menu a:last-child {
  margin-bottom: 5px;
}
.doc-style .nav-tab-wrapper .nav-tab-active,
.doc-style .nav-tab-wrapper a:hover,
.doc-style .menu-wrap.menu-open > a,
.doc-style .sub-menu a:hover {
  background-color: #fff !important;
}

.inner-wrap {
  max-width: 760px;
  margin: 0 auto;
}

/*---------------------------------------------
 *
 * Utils
 *
 */


.doc-style .green {
  color: #00E80B; /* #16DE01; #1abb1e #33DE00 */
}
.doc-style .grey {
  color: #888;
}
.doc-style .blue {
  color: #0074A2;
}
.doc-style .bold {
  font-weight: 400;
}

.doc-style .center {
  text-align: center;
}
.doc-style .left {
  text-align: left;
}

.doc-style .remove-height {
  margin-bottom: -50px;
}

/*--- Links ---*/

.doc-style a {
  text-decoration: none;
  color: #0074A2;
}
.doc-style a:hover {
  /* text-decoration: underline; */
  color: #000;
}

.doc-style .italic {
  font-style: italic;
}
.doc-style .small, .doc-style .small p {
  font-size: 13px !important;
}


/*---------------------------------------------
 *
 * Text styles
 *
 */

.doc-style b, .doc-style strong {
  font-weight: 400;
}

.doc-style p {
  margin: 0.75em 0;
}

.doc-style, .doc-style p, .doc-style .form-table td {
  font-size: 16px;
  line-height: 1.4em;
}

.doc-style .inner-wrap h1 {
  text-align: center;
  font-size: 18px;
}

.doc-style .inner-wrap h2 {
  font-size: 16px;
  font-weight: 300;
  padding: 4px 0;
  margin: 50px 0 10px 0;
  text-align: center;
/*  border-bottom: 1px solid #dadada;
  padding-bottom: 5px;
  margin-bottom: 10px; */
}

.doc-style .inner-wrap h2:first-of-type {
  margin-top: 0px;
}

.doc-style .anchor-with-top-pad {
  display: block; position: relative; top: 0px; visibility: hidden;
}

.doc-style :not(.tab-overview) h2 {
  background-color: #81a2be; /* ; #0073aa; #6A7A82;  #0074A2;
  border-radius: 4px; */
  color: white;
}

.doc-style .inner-wrap h3 {
  margin: 25px auto 0;
  padding: 2px 0;
  font-size: 14px;
  display: block;
  font-weight: 300;
  background-color: #566A7B; /* #566A7B green: #68BD7F; #e0e0e0; #e9e9e9; */
  color: #fafafa; /* white */
  text-align: center;
/*  border-radius: 4px; */
}

.doc-style h4 {
  /*font-weight:300;
   font-style:italic; */
  font-size: 16px;
  color: #000;
  margin: 1em 0;
}

h2 .nav-tab {
  font-size: 13px; /* 12px */
  line-height: 16px;
  margin-right: 2px;
  padding: 6px 8px; /* 4px 6px */
  font-weight: 400;
}

/*---------------------------------------------
 *
 * List
 *
 */

.doc-style ul {
  /* list-style:none;
  padding-left:20px; */
  list-style: disc;
  margin-left: 2em;
}
.doc-style ul > li > ul {
/*  padding-top: 5px;
  padding-bottom: 10px;
  list-style: none;
  padding-left: 20px;
*/
  padding-bottom: 5px;
  list-style-type: circle;
}

.doc-style .indent {
  padding-left: 20px;
}
.doc-style .no-indent {
  padding-left: 0px;
}
.doc-style .footer-notice {
  max-width:430px;
}

.doc-style .footer-notice p {
  font-size:14px;
}

.doc-style .logo-pad {
  margin: 15px auto;
}
.doc-style hr.setting-section {
  margin-top: 0px;
  padding-bottom: 10px;
}
.doc-style .form-table td {
  width: 100%;
  line-height: 1em;
  padding: 7px 10px;
}
.doc-style .form-table hr {
}




.doc-style .dashicons {
  /* vertical-align: sub; */
  color: #777;
  font-size: 16px;
}
.doc-style .dashicons:hover {
  color: #0074A2;
}



@media screen and (min-width:830px) {
  .doc-style .col-half {
    width: 50%;
    display: inline-block; vertical-align: top;
  }
}
.doc-style td>input[type=checkbox] {
  margin-top: -4px;
}
.doc-style pre[class*="language-"] {
  padding: 10px 10px;
  line-height: 1.35;
  display: block;
}
.doc-style code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.doc-style b,
.doc-style .bold  {
  font-weight:400;
}
.doc-style .no-margin-top {
  margin-top: 3px;
}

/*---------------------------------------------
 *
 * Settings
 *
 */

.tab-overview .index,
.tab-settings p.submit {
  text-align: center;
}
.tab-settings {
  max-width:420px;
  margin: 0 auto;
}

.tab-settings p.submit {
  margin-top: 15px;
}
.tab-settings #submit {
  width: 100%;
}
.tab-settings input[placeholder] {
  font-size: 12px;
}

.tab-settings .advanced-field {
  clear:both;
  margin-top: 10px;
  margin-bottom:10px;
}
.tab-settings input[type="text"] {
  min-width:240px;
  float:right;
  margin-top:-3px;
}
.tab-settings .margin-top-half {
  margin-top:10px;
}
/*---------------------------------------------
 *
 * Overview page
 *
 */

.tab-overview {
  max-width: 630px;
  margin: 0 auto;
}
.tab-overview .text-box {
  max-width: 420px;
  margin: 0 auto;
  text-align: left;
}
.tab-overview h2 {
  font-weight: 400;
}
.doc-style .tab-overview h3 {
  font-size: 16px;
  background-color: transparent;
  color: #333;
  margin-top: 10px;
  font-weight: 400;
}

.tab-overview .index {
  margin-top: -10px;
}
.tab-overview p {
  margin: 0.5em 0;
  padding: 0;
  font-size: 15px;
}
.tab-overview small {
  font-size: 13px;
}

.doc-style .tab-overview h2 {
  margin-top: 30px;
}
.tab-overview .note h3 {
  font-size: 15px;
  font-weight: 400;
  margin: 5px auto;
}

.tab-overview .note {
  max-width: 520px;
  margin: 0 auto 20px auto;
  padding: 2px 15px 5px;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.align-left { text-align: left }
.align-right { text-align: right }

.tab-overview .note p, li {
  font-size: 14px;
}
.tab-overview .note ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
.tab-overview .note li {
  margin-bottom: 2px;
}

.tab-overview .star {
  color: #F3DA09; /* #CCC */
}

.doc-style .tab-changelog h2 {
  background-color: transparent;
  color: #333;
  font-weight: 400;
  margin: 20px 0 0 0;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 #fafafa;
}
